{% extends 'base.html' %}
{% block content %}
{{ ticker }}
{% if ticker %}
    {{ ticker }}
{% endif %}

{% if api %}
    {% if api == "Error..." %}
        There was a problem with your ticker symbol. Please try again.
    {% else %}
        <h1>{{ api.quote.companyName }}</h1>
        Price: ${{ api.quote.latestPrice }}<br/>
        Previous Close: {{ api.quote.previousClose }}<br/>
        Market Cap: {{ api.quote.marketCap }}<br/>
        <br />
        <br />

        <!-- {% for key, value in api.quote.items %}
            {{ key }}: {{ value }}<br />
        {% endfor %} -->
        <!-- {% for key, value in api.items %}
            {{ key }}: {{ value }}<br />
        {% endfor %} -->
    {% endif %}

{% endif %}

{% endblock %}